.sfcontainer{
    margin: 40px;
    
}

.sfmain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sfheading{
    margin:30px;
    text-align: center;
    width: 900px;  
   
}
.sfheading h4{
    padding: 0px 70px 20px 70px;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1.92px;
    line-height: 1;
}
.sfdivimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;

    
}

.sfright {
    position: relative;
   

}

.sfleft{
    position: relative;
}


.sfcontent{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    width: 320px;
    height: 450px;
   
}
.sfconten-img{
    margin-bottom: 15px;
}

.sfconten-img img{
    width: 180px;
    height: 70px;
}

.sfcontent-text p{
    color: #fff;
    font-weight: 900;
    text-transform: none;
    font-size: 2.5rem;
    letter-spacing: -1.2px;
    line-height: 1.1;
}

.sfcontent-btn a{
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: -.08px;
    line-height: 1.5;
    position: relative;
    outline: 0;
    text-align: center;
    cursor: pointer;
   
}

.btn-bg-orng{
    background-color: rgb(234, 212, 173);
    color: rgb(232, 120, 23);
}

.btn-bg-blue{
    color: blue;
    background-color: rgb(139, 139, 177);
}