.containers{
    margin: auto;
   border-radius: 20px;
    padding: 20px;
    background-color: red;
    width: 80%;
    height: 60vh;
    background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/jio-com-business-banner-desktop-17Oct2023.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.textdiv{
    padding-top: 30px;
    width: 46%;
}

.textdiv h4{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #fff;
    line-height: 1.1;
}

.textdiv p{
    padding-top:20px;
    padding-bottom: 50px;
    font-size: 25px;
    letter-spacing: 1.1px;
    color: #fff;
    line-height: 1.4;
}

.textdiv a{
  
    background-color: blue;
    padding: 13px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}