*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero{
    position: relative;
    max-width: 100%;
    max-height: 60vh;
    object-fit: cover;
    /* text-align: center; */
}
img{
    width: 100%;
    height: 60vh;
}

.hcontent{
    position: absolute;
    padding: 50px;
    top: 40px;
    left: 60px;
    width: 500px;
    height: 500px;
    color: #fff;
    
}

.hcontent h4{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1.92px;
    line-height: 1;
    padding-bottom: 10px;
}

.hcontent p{
    font-weight: 300;
    text-transform: none;
    font-size: 1.1rem;
    letter-spacing: -1.2px;
    line-height: 1.1;
}

.hcontent a{
    margin:0px 20px 0px 0px;
    padding: 10px;
    color: #fff;
    
    border-radius: 30px;
    font-weight: 700;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: -.08px;
    line-height: 1.5;
    position: relative;
    outline: 0;
    text-align: center;
    cursor: pointer;
}

.bg-clr-blue{
    background-color: blue;
}

.br-white{
    border: 0.5px #fff solid;
}